@import '~tachyons';
@import '~ipfs-css';
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
}

.pt-mono {
  font-family: 'PT Mono', monospace;
}

a {
  text-decoration: none;
}

a,
a:active,
a:focus {
  outline: 0;
}

.hash-link-offset:before {
  content: '';
  display: block;
  height: 120px; /* fixed header height*/
  margin: -120px 0 0; /* negative fixed header height */
}
