@import '~ipfs-system/all.css';
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.pt-mono {
  font-family: 'PT Mono', monospace;
}

a {
  text-decoration: none;
}

.features td,
.features th {
  padding: 0.5rem 1rem;
}

.features th {
  font-size: 1rem;
}

.features table {
  float: right;
}
