@import '~tachyons';
@import '~ipfs-css';
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.pt-mono {
  font-family: 'PT Mono', monospace;
}

a {
  text-decoration: none;
}

.features td,
.features th {
  text-align: center;
}

.features td:first-child {
  text-align: left;
}

.features th:first-child {
  border-bottom: none;
}
